body {
background-color: #F8FFE4

}
h1, h2 {

    
    font-family: 'Open Sans', sans-serif;
}

h2{
    text-decoration: overline;
    text-decoration: underline;
}

.original-container .copy-container{
    font-family: 'IBM Plex Serif', serif;

}


