
body {
background-color: #F8FFE4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    

}

.copies{
    width:100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2 {

    
    font-family: 'Open Sans', sans-serif;

}

h2{
    text-decoration: overline;
    text-decoration: underline;
}

.original-container, .copy-container{
    font-family: 'Open Sans', sans-serif;
    align-items: center;
    padding:0.5px;
    
    

}

.original-container{
    background-color: #e4ffef;
}


div > p{
    
    font-family: 'IBM Plex Serif', serif;
    text-align: center;
    padding:1px;
}

button {
    
    
    margin-bottom: 1cm;
    font-family: 'Open Sans', sans-serif;
    
}
.copy-container{
    
    background-color: #ffeee4;
    padding:1px;
}


